<div id="authenticateBtnDiv">
	<button id="authenticateBtn" class="btn" onclick="window.location.href = '/login/basecamp';">authenticate</button>
	<p>Welcome! You must press the button to authenticate with basecamp.com in order to proceed</p>
</div>