<title>Gig Academy Analytics</title>
<meta charset="UTF-8" />
<meta
  name="description"
  content="Basecamp analytics for the Gig Academy project"
/>
<meta name="keywords" content="Analytics, project management" />
<meta name="author" content="Colin Bone Dodds" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- dependancies -->
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
<script src="/resources/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="/resources/main.js"></script>
