<div id="header">
	<h1>Gig Academy Analytics</h1>
	<p id="schoolName" style="visibility:hidden;">for Account Name</p>
	<div id="welcomeMsg" style="visibility:hidden;">Hi user</div>
	<div id="headerBtns">
		<button 
			class="btn" id="btnSwitchAc" 
			style="visibility:hidden;"
			onclick="switchAccountBtnClick()"
		>switch account
		</button>
		<button 
			class="btn" id="btnLogout" 
			style="visibility:hidden;" 
			onclick="window.location.href = '/logout';"
		>logout
		</button>
	</div>
</div>